<h1>Create a Message Board</h1>

<form action="/boards" method="post">
  <div class="form-group">
    <label for="board_name">Name</label>
    <input id="name" name="board_name" class="form-control" type="text">
    <label for="board_topic">Board topic</label>
    <input id="topic" name="board_topic" class="form-control big" type="text">

  </div>
  <button type="submit" class="btn">Go!</button>
</form>
